@font-face {
    font-family: TTLakes-Light;
    src: url(./TTLakes/TTLakes-Light.ttf);
}

@font-face {
    font-family: TTLakes-Bold;
    src: url(./TTLakes/TTLakes-Bold.ttf);
    
}

html,
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

* {
    font-family: "TTLakes-Light";
}

header {
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

main {
    background-color: #F8F8F8;
}

button, a {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.upper-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upper-menu__logo {
    margin-top: 18.59px;
    margin-bottom: 18.59px;
}

.upper-menu__divider {
    background: #EAEAEA;
    border-radius: 1px;
    width: 2px;
    height: 32px;
}

.upper-menu__divider--second {
    display: none;
}

.upper-menu__call {
    display: none;
}

.upper-menu__chat {
    display: none;
}

.upper-menu__profile {
    display: none;
}

.title {
    display: flex;
    column-gap: 12px;
}

.title__text {
    font-family: "TTLakes-Bold";
    font-size: 27px;
}

.title__text:before {
    content: url(./assets/highlight.svg);
    background: url(./assets/highlight.svg);
    float: left;
    height: 40px;
    margin-right: 12px;
}

.top-panel__buttons {
    display: none;
}

.navigation {
    margin-left: 16px;
}

.navigation__list {
    display: flex;
    list-style-type: none;
    column-gap: 19.56px;
    overflow: scroll;
}

.navigation__item {
    font-weight: 500;
    text-wrap: nowrap;
    padding: 8px 9.3px 8px 16.54px;
    letter-spacing: -0.2px;
}

.navigation__item--first {
    order: -2;
}

.navigation__item--third {
    order: -1;
}

.navigation__item--first {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFF;
}

.info {
    height: 90px;
    margin: 24px 16px 16px 16px;
    color: #1B1C21;
    font-family: "TTLakes-Light";
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
}

.more {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.more__button {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.more__text {
    font-weight: 700;
}

.more__text:before {
    content: url(./assets/ic-expand.svg);
    float: left;
    margin-right: 8px;
}

.tablet__photo {
    align: right;
    width: 320px;
    height: auto;
}

@media (width >= 784px)  {
    .header {
        margin-bottom: 24px;
    }

    .upper-menu__burger {
        order: -2;
    }

    .upper-menu__divider--first {
        order: -1;
    }

    .upper-menu__logo {
        margin-right: 250.73px;
    }

    .upper-menu__call {
        display: block;
    }

    .upper-menu__chat {
        display: block;
    }

    .upper-menu__profile {
        display: block;
    }

    .upper-menu__divider--second {
        display: block;
    }

    .title {
        column-gap: 20px;
    }

    .title__text {
        font-size: 25px;
    }

    .navigation__list {
        column-gap: 0;
        margin-top: 15px;
        margin-bottom: 32px;
    }

    .navigation__item {
        margin-right: 16px;
    }

    
    .desription {
    display: flex;
    }


    .description__info {
        width: 50%;
    }

    .info {
        height: 165px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .info__text {
        height: 160px;
    }

    .more {
        margin-top: 0;
    }

    .tablet__photo {
        width: 50%;
        height: auto;   
        border-radius: 10px;
    }

}

@media (width >= 1120px) {
    body {
        background-color: #F8F8F8;
    }

    header {
        display: none;
        height: 0;
    }

    .top-panel {
        display: flex;
        margin-top: 42px;
        margin-bottom: 17px;
    }

    .top-panel__buttons {
        display: flex;
        font-weight: 700;
        column-gap: 32px;
    }

    .top-panel__repair {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    .top-panel__status {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    .top-panel {
        display: flex;
        justify-content: space-between;
        margin-right: 22px;
    }

    .title {
        height: 40px;
        column-gap: 30px;
        align-items: center;
    }

    .title__text {
        font-size: 26.5px;
        margin: 0;
    }

    .navigation {
        margin-left: 32px;
    }

    .navigation__list {
        flex-wrap: wrap;
        row-gap: 5px;
        overflow: hidden;
    }

    .navigation__item--first {
        order: 0;
        background: none;
        border: none;
    }

    .navigation__item--second {
        display: block;
        order: -1;
        padding-right: 22px;
        padding-left: 23px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #FFF;
    }

    .navigation__item--third {
        display: none;
    }

    .navigation__item--seventh {
        display: block;
        margin-left: 5px;
        padding-bottom: 0;
    }

    .desription {
        display: flex;
        column-gap: 36px;
    }

    .info {
        height: 160px;
        margin-top: 0;
        margin-left: 32px;
        margin-bottom: 13px;
    }

    .more {
        margin-top: 0;
        margin-left: 32px;
    }
    
    .tablet__photo {
        width: auto;
        border-radius: 10px;
    }
}