@font-face {
    font-family: TTLakes;
    src: url(./TTLakes/TTLakes-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: TTLakes;
    src: url(./TTLakes/TTLakes-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: TTLakes;
    src: url(./TTLakes/TTLakes-DemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: TTLakes;
    src: url(./TTLakes/TTLakes-Bold.ttf);
    font-weight: 700;
}

html,
body,
ul,
li,
p {
    font-family: "TTLakes";
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #F8F8F8;
}

header {
    background-color: #fff;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

button, a {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.upper-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upper-menu__burger {
    width: 40px;
    height: 40px;
    background-image: url(./assets/burger.svg);
}

.upper-menu__divider {
    background: #EAEAEA;
    border-radius: 1px;
    width: 2px;
    height: 32px;
}

.upper-menu__divider--second {
    display: none;
}

.upper-menu__call {
    display: none;
    background-image: url(./assets/call.svg);
    width: 40px;
    height: 40px;
}

.upper-menu__chat {
    display: none;
    background-image: url(./assets/chat.svg);
    width: 40px;
    height: 40px;
}

.upper-menu__profile {
    display: none;
    background-image: url(./assets/profile.svg);
    width: 40px;
    height: 40px;
}

.upper-menu__repair {
    width: 40px;
    height: 40px;
    background-image: url(./assets/repair.svg);
}

.upper-menu__checkstatus {
    width: 40px;
    height: 40px;
    background-image: url(./assets/checkstatus.svg);
}

.title {
    display: flex;
    column-gap: 12px;
}

.title__text {
    font-weight: bold;
    font-size: 28px;
}

.title__text:before {
    content: url(./assets/highlight.svg);
    background: url(./assets/highlight.svg);
    float: left;
    height: 40px;
    margin-right: 12px;
}

.top-panel__buttons {
    display: none;
}

.top-panel__repair {
    width: 173px;
    height: 40px;
    background-image: url(./assets/repair.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.top-panel__status {
    width: 173px;
    height: 40px;
    background-image: url(./assets/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: 130px;
}

.navigation__list {
    display: flex;
    margin-left: 16px;
    margin-bottom: 10px;
    list-style-type: none;
    column-gap: 19.56px;
    overflow: scroll;
}

.navigation__item {
    font-weight: 100;
    text-wrap: nowrap;
    padding: 8px 9.3px 8px 16.54px;
    letter-spacing: -0.2px;
}

.navigation__item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFF;
}


.info {
    height: 90px;
    color: #1B1C21;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
}

.info__text {
    margin-left: 10px;
}

.more__button {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.more__button:before {
    content: url(./assets/ic-expand.svg);
    float: left;
}

.tablet__photo {
    width: 320px;
    height: auto;
}

@media (width >= 784px)  {
    .upper-menu__burger {
        order: -2;
    }

    .upper-menu__divider--first {
        order: -1;
    }

    .upper-menu__logo {
        margin-right: 250.73px;
    }

    .upper-menu__call {
        display: block;
    }

    .upper-menu__chat {
        display: block;
    }

    .upper-menu__profile {
        display: block;
    }

    .upper-menu__divider--second {
        display: block;
    }

    .title {
        column-gap: 20px;
    }

    .title__text {
        font-size: 25px;
    }

    .navigation__list {
        column-gap: 0;
        margin-bottom: 32px;
    }

    .navigation__item {
        margin-right: 16px;
    }

    
    .desription {
    display: flex;
    }


    .description__info {
        width: 50%;
    }

    .info {
        height: 165px;
    }

    .info__text {
        height: 160px;
        margin-right: 10px;
        margin-left: 20px;
    }

    .more__button {
        margin-left: 20px;
    }

    .tablet__photo {
        width: 50%;
        height: auto;
        border-radius: 10px;
    }

}

@media (width >= 1120px) {
    .upper-menu {
        display: none;
    }

    .top-panel {
        display: flex;
        margin-top: 42px;
        margin-bottom: 17px;
    }

    .top-panel__buttons {
        display: flex;
        font-weight: 500;
        column-gap: 32px;
    }

    .top-panel__repair {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    .top-panel__status {
        display: flex;
        column-gap: 8px;
        align-items: center;
        margin-right: 22px;
    }

    .top-panel {
        display: flex;
        justify-content: space-between;
    }

    .title {
        height: 40px;
        column-gap: 30px;
        align-items: center;
    }

    .title__text {
        font-size: 26.5px;
        margin: 0;
    }

    .navigation__list {
        flex-wrap: wrap;
        row-gap: 5px;
        overflow: hidden;
    }

    .navigation__item--first {
        order: 0;
        background: none;
        border: none;
    }

    .navigation__item--second {
        display: block;
        order: -1;
        padding-right: 22px;
        padding-left: 23px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #FFF;
    }

    .navigation__item--third {
        display: none;
    }

    .navigation__item--seventh {
        display: block;
        margin-left: 5px;
        padding-bottom: 0;
    }

    .desription {
        display: flex;
        column-gap: 36px;
    }

    .info {
        height: 160px;
    }
    
    .tablet__photo {
        width: auto;
        border-radius: 10px;
    }
}

/* Верстка меню */

.CPS-Menu {
    background-color: #FFF;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
}

.menu-header__x-burger {
    width: 40px;
    height: 40px;
    background-image: url(./assets/X-burger.svg);
}

.menu-header__logo {
    margin-right: 75px;
}

.menu-header__search {
    width: 40px;
    height: 40px;
    background-image: url(./assets/search.svg);
}

.menu__item {
    margin-left: 24px;
    margin-bottom: 32px;
}

.menu__item:first-child {
    margin-top: 25px;
}

.menu__item--active {
    margin-left: 20px;
    color: rgb(126, 126, 130);
}

.menu__item--active::before {
    content: url(./assets/highlight.svg);
    position: relative;
    left: -20px;
    top: 13px;
}

footer {
    margin-top: 260px;
}

.menu-buttons {
    display: flex;
}

.menu-buttons button {
    margin-right: 16px;
    margin-bottom: 16px;
}

.menu-buttons button:first-child {
    margin-left: 24px;
}

.menu-buttons__call {
    width: 40px;
    height: 40px;
    background-image: url(./assets/call.svg);
}

.menu-buttons__chat {
    width: 40px;
    height: 40px;
    background-image: url(./assets/chat.svg);
}

.menu-buttons__profile {
    width: 40px;
    height: 40px;
    background-image: url(./assets/profile.svg);
}

.contacts p {
    margin-left: 24px;
}

.contacts__email {
    margin-bottom: 12px;
}

.contacts__phone {
    font-size: 24px;
    margin-bottom: 40px;
}

.page-language button:first-child {
    margin-left: 24px;
}

.page-language button {
    margin-right: 10px;
    margin-bottom: 32px;
}

.page-language__ru--active {
    color: rgb(126, 126, 130);
}